.button-container {
    box-sizing: border-box;
    background-color: var(--color-white);
    border: 2px solid var(--color-purple);
    border-radius: var(--radius-10);
    color: var(--color-purple);

    width: fit-content;
    height: 56px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 80px;
}

.icon {
    position: absolute;
    left: 15px;
    color: var(--color-purple);
}

p {
    font-size: var(--font-size15);
    font-weight: var(--font-weight-bold);
}

.button-container:hover {
    color: var(--color-white);
    background-color: var(--color-purple);
    box-shadow: var(--shadow-normal);
    & > .icon {
        color: var(--color-white);
    }
}
