.recordCard-container {
    border: 1px solid var(--color-gray);
    border-radius: var(--radius-10);
    width: 300px;
    padding: 16px;
}
.recordCard-container-header {
    display: flex;
}

.recordCard-container-header > .header-button {
    margin-left: auto;
    border: 2px solid var(--color-purple);
    border-radius: var(--radius-3);
    background-color: var(--background);
    color: var(--color-purple);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-10);
    padding: 8px;
    box-sizing: border-box;
}

.recordCard-container-header > .header-button:hover {
    border: 2px solid var(--color-purple);
    background-color: var(--color-purple);
    color: var(--color-white);
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
}
.recordCard-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.recordCard-box > div {
    text-align: center;
}

.db::after {
    content: "db";
    font-size: var(--font-size-15);
}
.smallChar {
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.bigChar {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    margin: 10px 0;
}

.purpleChar {
    color: var(--color-purple);
}
