.question-box {
    background-color: var(--color-white);
    border-radius: var(--radius-10);
    height: 60vh;
    width: 1080px;
    margin: 0 auto;

    background-color: var(--color-white);
    border-radius: var(--radius-10);
    padding: 20px;

    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    grid-auto-rows: min-content;
}

.question-box:nth-child(n) {
    width: fit-content;
}

@media (max-width: 980px) {
    .question-box {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .question-box {
        grid-template-columns: repeat(1, 1fr);
    }
}

.question-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 2rem;
}

.question-button:nth-child(n) {
    margin-top: 20px;
    width: fit-content;
}

.question-load-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.button {
    width: fit-content;
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 12px;
    color: #6366f1;
    background-color: transparent;
    cursor: pointer;
}
.refresh-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.icon-button {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: 2px solid var(--color-purple);
    background-color: var(--color-white);
    color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-button:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.refresh-icon-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: 2px solid var(--color-purple);
    background-color: var(--color-white);
    color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
}

.refresh-icon-button:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}
