.questionCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: var(--radius-10);
    border: 2px solid var(--color-gray);
    background-color: #ffffff;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.6rem;
    width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.questionCard-button {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 8px;
    border: 2px solid var(--color-purple);
    border-radius: var(--radius-3);
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-black);
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
}

.questionCard-button:hover {
    background-color: var(--color-white);
    color: var(--color-purple);
    border: 2px solid var(--color-purple);
    box-shadow: var(--shadow-normal);
}

.card-divider {
    width: 1px;
    height: 80%;
    background-color: var(--color-gray);
}

.card-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
