.qr-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.qr-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
}

.qr-box {
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.5rem;
}

.qr-code {
    height: auto;
    min-width: 100%;
    width: 100%;
}

.qr-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.qr-buttons button {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 10px 20px;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-black);
    border: none;
    border-radius: var(--radius-10);
    cursor: pointer;
}

.qr-buttons button:hover {
    background-color: var(--color-purple);
}
