.result-container {
    position: relative;
    height: 100%;
}

.result-box {
    border: 1px solid var(--color-gray);
    border-radius: var(--radius-10);
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 8px;
    box-sizing: border-box;
    justify-content: space-around;
    margin-bottom: 60px;
}

.result-left {
    width: 50%;
    height: auto;
    background-color: var(--color-white);
    border-radius: var(--radius-10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.result-buttons-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.result-buttons-container :nth-child(n) {
    width: fit-content;
}
