.record-box {
    background-color: var(--color-white);
    border-radius: var(--radius-10);
    height: 60vh;
    width: 1093px;
    padding: 20px;
    margin: 0 auto;

    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.record-box:nth-child(n) {
    width: fit-content;
}

@media (max-width: 1093px) {
    .record-box {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 775px) {
    .record-box {
        grid-template-columns: repeat(1, 1fr);
    }
}

.rocord-button {
    margin: 0 auto;
}
.rocord-button:nth-child(n) {
    margin-top: 20px;
    width: fit-content;
}
