.record-box {
    background-color: var(--color-white);
    border-radius: var(--radius-10);
    height: 60vh;
    width: 1093px;
    padding: 20px;
    margin: 0 auto;

    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
    grid-auto-rows: min-content;
}

.record-box > * {
    height: auto;
    min-height: 160px;
    max-height: 160px;
}

.record-box:nth-child(n) {
    width: fit-content;
}

@media (max-width: 1093px) {
    .record-box {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 775px) {
    .record-box {
        grid-template-columns: repeat(1, 1fr);
    }
}
