:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color: #2b2c30;
    background-color: #f8f9fd;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: #ffffff;
    --color-red: #ff0000;
    --color-gray: #e2e2e2;
    --color-purple: #6d6af7;
    --color-green-1: #a6f1e0;
    --color-green-2: #84eac0;
    --color-green-3: #73c7c7;

    --radius-3: 3px;
    --radius-10: 10px;
    --radius-30: 30px;

    --font-size-5: 5px;
    --font-size-7: 7px;
    --font-size-10: 10px;
    --font-size-15: 15px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-40: 40px;
    --font-size-50: 50px;
    --font-size-60: 60px;

    --font-weight-bold: bold;
    --font-weight-black: 900;

    --shadow-normal: 0px 2px 3px 0px rgba(0, 0, 0, 0.35);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}
